@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #516a5c;
}

header > h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 800;
}

section {
    background-color: #d1f9c6;
    width: 480px;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
    margin: auto;
}

select#valor {
    width: 150px;
    text-align: center;
    padding: 7px;
}

p.p {
    padding: 10px 0px;
}


footer {
    text-align: center;
    padding: 20px;
}

footer > a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

footer > a:hover {
    color: black;
    text-decoration: underline;
}


